<mat-toolbar color="primary">
  <button mat-icon-button>
    <fa-icon [icon]="faBars" (click)="sidenav.toggle()">menu</fa-icon>
  </button>
  <h1>Video Poker</h1>
  <span class="fill-space"></span>
  <button mat-button *ngIf="!user" class="login-button" routerLink="/login">Log In</button>
  <ng-container *ngIf="user?.uid">
    <img src="{{ user.photoURL }}" alt="displayPhoto">
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item (click)="signOut()">Log Out</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="accountMenu">
      <span>{{ user.displayName }}</span>
      <fa-icon class="dropdown-icon" [icon]="faCaretDown"></fa-icon>
    </button>
  </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>
