.main {
  margin: 5% 2.5%;
}

.draw-button {
  height: 2em;
  width: 5em;
  font-size: 28px;
  font-weight: 600;
  background-color: teal;
  color: white;
}

.outcome {
  font-size: 18px;
  height: 3em;
  line-height: 3em;
}

.credits {
  font-size: 22px;
  margin: 10px;
}

.held {
  margin-bottom: 1em;
  visibility: visible;
  font-size: 18px;
  font-weight: 500;
}

.card img {
  max-width: 100%;
  height:auto;
}