<div class="main">
  <div fxLayoutAlign="center">
    <span class="outcome">{{ outcome ? outcome : ' ' }}</span>
  </div>
  <div fxLayoutAlign="center">
    <ng-container *ngFor="let card of hand">
      <div class="card" fxFlex="20">
        <img class="card-front" src="../../../assets/{{ card.rank }}-{{ card.suit }}.png" alt="{{ card.rank }} of {{ card.suit }}s" *ngIf="card" (click)="card.held = inPlay ? !card.held : card.held">
        <img src="../../../assets/card-back.png" alt="card-back">
      </div>
    </ng-container>
  </div>
  <hr>
  <div fxLayoutAlign="center">
    <div *ngFor="let card of hand" fxFlex="20" fxLayoutAlign="center">
      <span class="held" [ngStyle]="{'visibility': card?.held ? 'visible' : 'hidden'}">HELD</span>
    </div>
  </div>
  <div class="credits" fxLayoutAlign="space-between">
    <span [ngStyle]="{'visibility': creditsWon ? 'visible' : 'hidden'}">{{ 'WIN ' + creditsWon }}</span>
    <span *ngIf="bankroll">{{ 'CREDIT ' + bankroll }}</span>
    <span *ngIf="!bankroll">Loading</span>
  </div>
  <div fxLayoutAlign="center">
    <button class="draw-button" *ngIf="!inPlay" mat-raised-button (click)="drawCards()">PLAY</button>
    <button class="draw-button" *ngIf="inPlay" mat-raised-button (click)="redrawCards()">DRAW</button>
  </div>
</div>
