.main {
  margin: 5vh 2.5vw;
}

.draw-button {
  height: 2em;
  width: 5em;
  font-size: 28px;
  font-weight: 600;
  background-color: teal;
  color: white;
}

.outcome {
  font-size: 14px;
  min-height: 1em;
}

.credits {
  font-size: 22px;
  font-weight: 400;
  margin: 10px 10px;
}

.held {
  margin: .5em;
  visibility: visible;
  font-size: 18px;
  font-weight: 500;
}
